
@font-face {
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 400;
    src: local('Reenie Beanie'), local('ReenieBeanie'), url(http://themes.googleusercontent.com/static/fonts/reeniebeanie/v4/ljpKc6CdXusL1cnGUSamX_n8qdNnd5eCmWXua5W-n7c.woff) format('woff');
}

*{
    margin:0;
    border:none;
    padding:0;
}

#map{
    position:absolute;
    z-index:1;
    top:0;right:0;bottom:0;left:0;
}

#info_box{
    font-family: 'Reenie Beanie';
    position:absolute;
    z-index:1000;
    top:0;right:0;bottom:0;left:0;
    
    background-color: rgba(255, 255, 255, 0.95);
    padding: 32px;
    overflow: hidden;
}

.txt_box{
/*    position:absolute;
    top:32px;right:32px;bottom:32px;left:auto;*/

float:left;
margin: 12px;
    width:332px;
    overflow: auto;
    padding-right:6px;
}

.close_box{
    position: absolute;
    top: 32px;
    right: 32px;
    color: #999;
    font-family: sans-serif;
    font-size: 12pt;
    cursor: pointer;
    font-weight: bold;
}
.close_box:hover{
    border-bottom: 2px solid;
}

.comments{
    color: #999;
    font-family: sans-serif;
    font-size:12pt;
    cursor:pointer;
}
.comments:hover{
    border-bottom: 1px solid;
}

.time_box{
/*    position:absolute;
    top:200px;
    left:32px;*/

float:left;
margin: 12px;
/*     font-family: sans-serif; */
    font-size: 22pt;
    margin-bottom: 16px;
    font-weight: bold;
}
.time_box a{
    text-decoration:none;
    color:black;
}
.time_box a:hover{
    border-bottom:2px solid;
}

.txt{
/*    position:absolute;
    top:32px;
    left:256px;*/
float:left;
margin: 12px;
    width:332px;
    margin-bottom: 16px;
/*     font-family: sans-serif; */
    font-size: 18pt;
}

.img_box{
/*    position: absolute;
    top: 32px;
    left:32px;*/

float:left;
margin: 12px;
    border: 1px solid #aaa;
    padding: 8px;
}

img.img{
    max-width:100%;
    max-height:100%;
}


.comment-form{
    margin:0 0 22px 0;
}

.comment-form h3{
/*     font-family:sans-serif; */
    color:#444;
    font-size: 18pt;
}

.in-wrapper{
    border:1px solid #bbb;
}

#new_comment{
    position: relative;
    width: 95%;
    height: 120px;
    resize: none; 
    padding:4px;
    outline:0px none transparent;
}
#new_comment:focus{
    outline:0px none transparent;
}

.button{
    text-align: right;
    position: relative;
}

#nc{
    padding: 4px;
    margin: 4px;
/*     font-family: sans-serif; */
    background-color: white;
    cursor: pointer;
    border:1px solid #bbb;
}

#nc:hover{
    color:#bbb;
}

.comment-box{
    margin:6px 0;
    padding:6px;
/*     border:1px solid #ddd; */
}

.commenter{
    font-family:sans-serif;
    font-size:10pt;
    padding-top:6px;
    text-align:right;
}

.commenter a{
    text-decoration:none;
    color:#666;
}

.commenter a:hover{
    border-bottom:1px solid;
    color:#30A9FF;
}

.comment-text{
/*     font-family:sans-serif; */
    font-size:15pt;
}

#pages{
    position: absolute;
    z-index: 100;
    right: 24px;
    top: 24px;
    max-width: 32%;
    max-height: 70%;
}

#pages .page{
    color: #444;
    font-family: sans-serif;
    

}

#pages .page .title{
    font-size: 22pt;
    font-weight:bold;
    cursor:pointer;
}

#pages .page .title img{
    max-width:100%;
}

div.content{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:10000;
}

div.content img{
    max-width: 98%;
    max-height: 98%;
}


#footer{
    position:absolute;
    width: 100%;
    left:0;
    bottom:0;
    z-index:100;
    background-color:transparent;
}