{# threads #}
{% load md %}
<div class="comment-form">
{% if user.is_authenticated %}
    <h3>Laisser un commentaire</h3>
    <div class="in-wrapper">
        <textarea id="new_comment"></textarea>
        <div class="button"><span id="nc">envoyer</span></div>
    </div>
{% else %}
    <div class="login">
    Pour laisser un commentaire, <a href="{% url 'social:begin' 'facebook' %}">connecte toi</a> avec ton compte facebook;
    </div>
    <div class="login">
    <a href="{% url 'social:begin' 'facebook' %}"> Log je in </a> via Facebook om je commentaar te geven.
    </div> 
{% endif %}
</div>
{% for comment in comments %}
<div class="comment-box">
    <div class="comment-text">
    {{ comment.content|md }}
    </div>
    <div class="commenter">
        <a href="https://www.facebook.com/{{comment.commenter.get_username}}"
            title="See on facebook">
            {{ comment.commenter.get_full_name }}
        </a>
    </div>
</div>
{% endfor %}

