<html>
<head>
    <title>Vous êtes là</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="{{STATIC_URL}}tram81.css" />
    
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

    <script src="{% url 'js_conf' %}?ids={{REQ_IMAGES}}"></script>
</head>

<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '{{FB_APP_ID}}',                        // App ID from the app dashboard
      channelUrl : '{{STATIC_URL}}channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
    FB.Event.subscribe('auth.authResponseChange', function(response) {
        console.log('The status of the session is: ' + response.status);
    });
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- <a href="{% url 'social:begin' "facebook" %}">Facebook</a> -->

<div id="map"></div>
<div id="info_box"></div>

{% if PAGES %}
<div id="pages">
{% for page in PAGES %}
<div class="page">
<div class="title">{{ page.title }}</div>
<div class="content">{{ page.formated_content|safe }}</div>
</div>
{% endfor %}
</div>
{% endif %}

{% if FOOTER %}
<div id="footer">
{% include FOOTER %}
</div>
{% endif %}

</body>
</html>