<!DOCTYPE html> 
<html>
<head>
    <title>{{SITE_TITLE}}</title>
    <link rel="stylesheet" href="{{STATIC_URL}}ol.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}tram81.css" />

    <script src="{{STATIC_URL}}ol.js"></script>
    <script src="{{STATIC_URL}}jquery-min.js"></script>
    <script src="{{STATIC_URL}}underscore-min.js"></script>
    
    <script src="{% url 'js_conf' %}?ids={{REQ_IMAGES}}"></script>
    <script src="{{STATIC_URL}}mons.js"></script>
</head>

<body>

<div id="map"></div>
<div id="info_box"></div>

{% if PAGES %}
<div id="pages">
{% for page in PAGES %}
<div class="page">

    {% if page.title_image %}
    <div class="title">
        <img src="{{page.title_image.url}}"></img>
    </div>
    {% else %}
    <div class="title">{{ page.title }}</div>
    {% endif %}

    {% if page.content_image %}
    <div class="content">
        <img src="{{page.content_image.url}}"></img>
    </div>
    {% else %}
    <div class="content">{{ page.formated_content|safe }}</div>
    {% endif %}
    
</div>
{% endfor %}
</div>
{% endif %}

{% if FOOTER %}
<div id="footer">
{% include FOOTER %}
</div>
{% endif %}

</body>
</html>