<html>
<head>
<title>test</title>
<style>
*{margin:0;border:none;padding:0}

#map{
    position:absolute;
    z-index:1;
    top:0;right:0;bottom:0;left:0;
}

#info_box{
    position:absolute;
    z-index:2;
    top:0;right:0;bottom:0;left:auto;
    width:300px;

    background-color: white;
    border-left: 2px solid grey;
    padding: 12px;

}

img.img{
width: 100%;
height: auto;
}



</style>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
<![endif]-->

<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="{{STATIC_URL}}zepto.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<!-- <script src="{{STATIC_URL}}tram81.js"></script> -->
<script>

{% autoescape off %}
window.T81 = {};
window.T81.config = {
    TILE_SERVER: '{{TILE_SERVER}}',
};
window.T81.data = [
{% for image in images %}
{
    url: '{{ image.image.url }}',
    geo: JSON.parse('{{ image.geom.geojson }}'),
    txt: '{{ image.text|escapejs }}',
    pub: new Date('{{ image.pub_date|date:"c" }}'),
},
{% endfor %}
];

{% endautoescape %}
Zepto(function($){
    $('#info_box').hide();
    var $map = $('#map');
    var map = L.map('map');
    L.tileLayer(window.T81.config.TILE_SERVER, {
        attribution: 'Me',
        maxZoom: 28
    }).addTo(map);
    
//     L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
//     attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
// }).addTo(map);
//     
    function px(i){
        return i + 'px';
    };
    
    function mapElement(layer, append){
        var bounds = layer.getBounds();
        var $el = layer.$data_content;
        $el.detach();
        var NW = map.latLngToContainerPoint(bounds.getNorthWest());
        var SE = map.latLngToContainerPoint(bounds.getSouthEast());
        
        var bb = new L.Bounds(NW, SE);
        $el.css({
            position:'absolute',
            top:px(bb.min.y),
            left:px(bb.min.x),
            width:px(bb.getSize().x),
            height:px(bb.getSize().y),
        });
        $map.append($el);
    };

    var standard_style = {
                    fill:true,
                    fillOpacity:0.0,
                    stroke:false,
                    clickable:true,
                    };
    var highlight_style = {
                    fill:true,
                    fillOpacity:0.0,
                    stroke:true,
                    clickable:true,
                    weight:2,
                    color:'#FFF400',
                    };
    var global_images = [];
    function prepareLayers(data, idx){
        var l = new L.geoJson(data.geo,{
            style: function (feature) {
                return standard_style;
            },
        });
        global_images.push(l);
        l.data = data;
        l.addTo(map);
        l.on('mouseover', function(evt){
            _.each(global_images, function(layer){
                layer.setStyle(standard_style);
            });
            l.setStyle(highlight_style);
        });
        l.on('click', function(evt){
            var $info = $('#info_box');
            var ui = {
                img: $('<img />').addClass('img'),
                time: $('<div />').addClass('time_box'),
                txt: $('<div />').addClass('txt_box'),
                close: $('<close>fermer</close>').addClass('close_box'),
            };
            ui.img.attr('src', this.data.url);
            ui.time.html(this.data.pub);
            ui.txt.html(this.data.txt);
            
            ui.close.on('click',function(){$info.hide()});
            
            $info.empty();
            _.each(ui, function($el){
                $info.append($el);
            });
            $info.show();
        });
    };
    _.each(window.T81.data, prepareLayers);
    var las_image = global_images[global_images.length -1].getBounds();
    map.once('load', function(){
        map.fitBounds(las_image);
    });
    map.setView([50.854075572144815, 4.38629150390625], 13);
   

});

</script>
</head>

<body>

<div id="map"></div>
<div id="info_box"></div>

</body>
</html>