
<style>

@font-face {
    font-family: 'dejavu_sanscondensed';
    src: url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.eot');
    src: url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.woff') format('woff'),
         url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.ttf') format('truetype'),
         url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.svg#dejavu_sanscondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}


#footer{
    height:30px;
    border-top: 1px solid #000;
    background: #fff;
}

#footer_logo{
    position:absolute;
    left:4px;
    bottom:4px;
    display: block;
    width: 260px;
}

#footer_logo a{
     border: 0px;
}

#footer_logo img{
    position:absolute;
    left:0px;
    bottom:0px;
}

#footer_text {
    font-family: 'dejavu_sanscondensed';
    font-size: 8pt;
    color: #444;
    display: block;
    margin-left: 265px;
    margin-top: 8px;
    height : 30px;
}

#footer_text a{
    text-decoration: none;
    color: #111;
}

#footer_text a:hover{
    text-decoration: underline;
}


</style>

<div id="footer_logo">
<a href="654"><img src="{{STATIC_URL}}footer_logo.png"></img></a>
</div>

<div id="footer_text">
<span>Buratinas is a project by <a href="http://nadine.be">nadine</a> since <a href="450">2011</a> and is supported by Brusselse Hoofdstedelijke Regering 'Water in de Stad' - Web site by <a href="http://atelier-cartographique.be">Atelier Cartographique</a> </span>
</div>

