
<style>

@font-face {
    font-family: 'dejavu_sanscondensed';
    src: url('fonts/dejavusanscondensed-webfont.eot');
    src: url('fonts/dejavusanscondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dejavusanscondensed-webfont.woff') format('woff'),
         url('fonts/dejavusanscondensed-webfont.ttf') format('truetype'),
         url('fonts/dejavusanscondensed-webfont.svg#dejavu_sanscondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}


#footer{
    height:30px;
    border-top: 1px solid #000;
}

#footer_logo{
    position:absolute;
    left:4px;
    bottom:4px;
}

#footer_logo img{
    position:absolute;
    left:0px;
    bottom:0px;
}

#footer_text {
    font-family: 'dejavu_sanscondensed';
    font-size: 10pt;
    color: #444;
}

#footer_link{
    position: absolute;
    right: 32px;
    bottom: 6px;
    width: 128px;
    font-size: 12pt;
    font-family: sans-serif;
}

#footer_link a{
    color: #000;
    text-decoration: none;
}

#footer_link a:hover{
    text-decoration: underline;
}
</style>

<div id="footer_logo">
<img src="{{STATIC_URL}}footer_logo.png"></img>
</div>

<div id="footer_text">
<span>Buratinas is a project by <a href="http://nadine.be">nadine</a> and is supported by Brusselse Hoofdstedelijke Regering 'Water in de Stad' </span>
</div>

<div id="footer_link">
<a href="http://nadine.be">nadine.be</a>
</div>