
<style>

@font-face {
    font-family: 'dejavu_sanscondensed';
    src: url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.eot');
    src: url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.woff') format('woff'),
         url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.ttf') format('truetype'),
         url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.svg#dejavu_sanscondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}


#footer{
    height:30px;
    border-top: 1px solid #000;
    background: #fff;
}

#footer_logo{
    position:absolute;
    left:4px;
    bottom:4px;
    display: block;
    width: 260px;
}

#footer_logo img{
    position:absolute;
    left:0px;
    bottom:0px;
}

#footer_text {
    font-family: 'dejavu_sanscondensed';
    font-size: 8pt;
    color: #444;
    display: block;
    margin-left: 265px;
    margin-top: 4px;
    height : 30px;
    line-height: 9.5pt;
}

#footer_text a{
    color: #000;
    text-decoration: none;
    font-style: italic;
}

#footer_text a:hover{
    text-decoration: underline;
    font-style: italic;
}

</style>

<div id="footer_logo">
<img src="{{STATIC_URL}}footer_logo.png"></img>
</div>

<div id="footer_text">
<span>Buratinas is a project by <a href="http://nadine.be">nadine</a> and is supported by Brusselse Hoofdstedelijke Regering 'Water in de Stad' </span>
</div>
