<span class="restart">
<a href="http://mons.atelier-cartographique.be">Perdu ?</a>
</span>

<!-- <span class="about">
<a href="http://mons.atelier-cartographique.be/10000">&Agrave propos</a>
</span>

<span class="separator">&bullet;</span> -->

<span class="separator">&#126;</span>

<span class="legend">Th&eacutematiques des vid&eacuteos : </span>
<a href="http://mons.atelier-cartographique.be/1992/" 
   class="legend" 
   style="color:#ec5055; text-decoration:none">
   D&EacuteLIMITER
</a> - 

<a href="http://mons.atelier-cartographique.be/1991/" 
   class="legend" 
   style="color:#00bad9; text-decoration:none">
   HABITER
</a> - 

<a href="http://mons.atelier-cartographique.be/1990/" 
   class="legend" 
   style="color:#a5c43f; text-decoration:none">
   RENCONTRER
</a>

<span class="separator">&#126;</span>

<span class="credits ucl">
UCLouvain & Atelier Cartographique
</span>

<span class="separator">&#126;</span>

<span>2015</span>
