
<style>

@font-face {
    font-family: 'dejavu_sanscondensed';
    src: url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.eot');
    src: url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.woff') format('woff'),
         url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.ttf') format('truetype'),
         url('{{STATIC_URL}}fonts/dejavusanscondensed-webfont.svg#dejavu_sanscondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}


#footer{
    height:30px;
    border-top: 1px solid #000;
    background: #fff;
}



#footer_text {
    height : 30px;
    font-family: 'dejavu_sanscondensed';
    font-size: 9pt;
    display: block;
    margin-top: 8px;
    text-align: center;
}

#footer_text a {
    color: #06a0ff;
    text-decoration: none;
}

#footer_text a:hover{
    text-decoration: underline;
}

</style>


<div id="footer_text">
<span><a href="http://various-artists.be/boucalais">http://various-artists.be/boucalais</a> </span>
</div>
